<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <title>My CRUD in NodeJS</title>
</head>
<body class="container">

<h2>Registros</h2>
  <table class="table">
    <thead>
        <tr>
            <td>Nome</td>
            <td>Sobrenome</td>
            <td>Ação</td>
        </tr>
    </thead>
    <tbody>
    <% data.forEach(function(details) { %>
        <tr>
            <td><%= details.name %></td>
            <td><%= details.surname %></td>
            <td><a class="btn btn-primary btn-sm" href="/edit/<%= details._id %>">Editar</a> - <a class="btn btn-danger btn-sm" href="/delete/<%= details._id %>">Deletar</a></td>
        </tr> 
        <% }) %>
    </tbody>
  </table>
  <button><a href="/">Novo</a></button>
</body>
</html>